<%= form_with(model: role_of_supervisor) do |form| %>
<% if role_of_supervisor.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(role_of_supervisor.errors.count, "error") %> prohibited this role_of_supervisor from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% role_of_supervisor.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :role_of_supervisor_category, class: label_class %>
          <%= form.text_field :role_of_supervisor_category, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if role_of_supervisor.persisted? %>
<%= link_to "Cancel", role_of_supervisor, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", role_of_supervisors_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
