<%= form_with(model: supervisor) do |form| %>
<% if supervisor.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(supervisor.errors.count, "error") %> prohibited this supervisor from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% supervisor.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :role_of_supervisor_id, class: label_class %>
        <%= form.select :role_of_supervisor_id, options_from_collection_for_select(
          RoleOfSupervisor.all, 'id', 'role_of_supervisor_category', selected = supervisor.role_of_supervisor_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :supervisor_name, class: label_class %>
          <%= form.text_field :supervisor_name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :supervisor_DoB, class: label_class %>
          <%= form.date_field :supervisor_DoB, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :supervisor_address, class: label_class %>
          <%= form.text_field :supervisor_address, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :supervisor_phone, class: label_class %>
          <%= form.text_field :supervisor_phone, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if supervisor.persisted? %>
<%= link_to "Cancel", supervisor, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", supervisors_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
