<div id="<%= dom_id supervisor %>">
  <p>
    <strong>Role of supervisor:</strong>
    <%= supervisor.role_of_supervisor_id %>
  </p>

  <p>
    <strong>Supervisor name:</strong>
    <%= supervisor.supervisor_name %>
  </p>

  <p>
    <strong>Supervisor dob:</strong>
    <%= supervisor.supervisor_DoB %>
  </p>

  <p>
    <strong>Supervisor address:</strong>
    <%= supervisor.supervisor_address %>
  </p>

  <p>
    <strong>Supervisor phone:</strong>
    <%= supervisor.supervisor_phone %>
  </p>

</div>
