<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Supervisor</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to supervisors_path, class: button_class(theme: "transparent") do %>
      All Supervisors
      <% end %>
      <%= link_to edit_supervisor_path(@supervisor), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Role of supervisor:</p>
        <p><%= @supervisor.role_of_supervisor.role_of_supervisor_category %></p>
      </li>
      <li>
        <p class="font-semibold">Supervisor name:</p>
        <p><%= @supervisor.supervisor_name %></p>
      </li>
      <li>
        <p class="font-semibold">Supervisor dob:</p>
        <p><%= @supervisor.supervisor_DoB %></p>
      </li>
      <li>
        <p class="font-semibold">Supervisor address:</p>
        <p><%= @supervisor.supervisor_address %></p>
      </li>
      <li>
        <p class="font-semibold">Supervisor phone:</p>
        <p><%= @supervisor.supervisor_phone %></p>
      </li>
  </ul>
</div>
