<%= form_with(model: parking_fee) do |form| %>
<% if parking_fee.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(parking_fee.errors.count, "error") %> prohibited this parking_fee from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% parking_fee.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :parking_fee_type, class: label_class %>
          <%= form.text_field :parking_fee_type, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :parking_fee_description, class: label_class %>
          <%= form.text_field :parking_fee_description, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :parking_fee_money, class: label_class %>
          <%= form.text_field :parking_fee_money, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if parking_fee.persisted? %>
<%= link_to "Cancel", parking_fee, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", parking_fees_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
