<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Parking_fee</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to parking_fees_path, class: button_class(theme: "transparent") do %>
      All Parking_fees
      <% end %>
      <%= link_to edit_parking_fee_path(@parking_fee), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Parking fees type:</p>
        <p><%= @parking_fee.parking_fees_type %></p>
      </li>
      <li>
        <p class="font-semibold">Parking fees description:</p>
        <p><%= @parking_fee.parking_fees_description %></p>
      </li>
      <li>
        <p class="font-semibold">Parking fees money:</p>
        <p><%= @parking_fee.parking_fees_money %></p>
      </li>
  </ul>
</div>
