<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer name:</strong>
    <%= customer.customer_name %>
  </p>

  <p>
    <strong>Customer dob:</strong>
    <%= customer.customer_DoB %>
  </p>

  <p>
    <strong>Customer phone:</strong>
    <%= customer.customer_phone %>
  </p>

  <p>
    <strong>Customer address:</strong>
    <%= customer.customer_address %>
  </p>

</div>
