<%= form_with(model: customer) do |form| %>
<% if customer.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% customer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :customer_name, class: label_class %>
          <%= form.text_field :customer_name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :customer_DoB, class: label_class %>
          <%= form.date_field :customer_DoB, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :customer_phone, class: label_class %>
          <%= form.text_field :customer_phone, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :customer_address, class: label_class %>
          <%= form.text_field :customer_address, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if customer.persisted? %>
<%= link_to "Cancel", customer, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", customers_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
