<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Customer</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to customers_path, class: button_class(theme: "transparent") do %>
      All Customers
      <% end %>
      <%= link_to edit_customer_path(@customer), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Customer name:</p>
        <p><%= @customer.customer_name %></p>
      </li>
      <li>
        <p class="font-semibold">Customer dob:</p>
        <p><%= @customer.customer_DoB %></p>
      </li>
      <li>
        <p class="font-semibold">Customer phone:</p>
        <p><%= @customer.customer_phone %></p>
      </li>
      <li>
        <p class="font-semibold">Customer address:</p>
        <p><%= @customer.customer_address %></p>
      </li>
  </ul>
</div>
