<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Permission</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to permissions_path, class: button_class(theme: "transparent") do %>
      All Permissions
      <% end %>
      <%= link_to edit_permission_path(@permission), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Role of supervisor:</p>
        <p><%= @permission.role_of_supervisor.role_of_supervisor_category %></p>
      </li>
      <li>
        <p class="font-semibold">Supervisor:</p>
        <p><%= @permission.supervisor.supervisor_name %></p>
      </li>
      <li>
        <p class="font-semibold">Permission date:</p>
        <p><%= @permission.permission_date %></p>
      </li>
  </ul>
</div>
