<div id="<%= dom_id parking_status %>">
  <p>
    <strong>Parking fee:</strong>
    <%= parking_status.parking_fee_id %>
  </p>

  <p>
    <strong>Parking slot:</strong>
    <%= parking_status.parking_slot_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= parking_status.car_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= parking_status.customer_id %>
  </p>

  <p>
    <strong>Permission:</strong>
    <%= parking_status.permission_id %>
  </p>

</div>
