<%= form_with(model: car) do |form| %>
<% if car.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% car.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :customer_id, class: label_class %>
          <%= form.select :customer_id, options_from_collection_for_select(
            Customer.all, 'id', 'customer_name', selected = car.customer_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :car_category, class: label_class %>
          <%= form.text_field :car_category, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :car_description, class: label_class %>
          <%= form.text_field :car_description, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if car.persisted? %>
<%= link_to "Cancel", car, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", cars_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
