<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Car</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to cars_path, class: button_class(theme: "transparent") do %>
      All Cars
      <% end %>
      <%= link_to edit_car_path(@car), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Customer:</p>
        <p><%= @car.customer.customer_name %></p>
      </li>
      <li>
        <p class="font-semibold">Car category:</p>
        <p><%= @car.car_category %></p>
      </li>
      <li>
        <p class="font-semibold">Car description:</p>
        <p><%= @car.car_description %></p>
      </li>
  </ul>
</div>
